<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Error Compra</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon"
          href="https://cdn-icons-png.flaticon.com/512/1828/1828843.png">
</head>

<body class="bg-gray-100
             min-h-screen
             flex items-center justify-center">

<div class="bg-white p-10 rounded-2xl shadow-xl text-center">

    <h1 class="text-4xl font-bold text-red-600 mb-6">
        Error en la compra
    </h1>

    <p class="text-lg mb-8"
       th:text="${mensajeError}">
    </p>

    <a th:href="@{/compras}"
       class="bg-blue-600 hover:bg-blue-700
              text-white px-6 py-3 rounded-xl">
        Volver a compras
    </a>

</div>

</body>
</html>